<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<package name="com.example.vo" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/sqlmap/Sample_SQL.xml" />
		<mapper resource="mapper/sqlmap/Sample2_SQL.xml" />
	</mappers>
</configuration>